nav h1 {
    color: white;
    padding: 0.3em 1em;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
.nav-item {
    padding: 0.3em 1em;
}

.card {
    margin: 1.5em;
}

.form-group {
    padding: 1em;
}

.form-check-label {
    margin: 0.3em 1.5em;
}

button {
    margin: 0.3em 1em;
}